*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    background: #0c192c;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bolhas{
    position: absolute;
    display: flex;
}

.bolhas span{
    width: 30px;
    height: 30px;
    background: #483D8B;
    margin: 0.4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #483D8B44,
        0 0  50px #483D8B,
        0 0 100px #483D8B;
        animation: animar calc(30s/var(--i)) linear infinite;
}

@keyframes animar{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even){
    background: #1E90FF;
    box-shadow: 0 0 0 10px #1e90ff44,
        0 0  50px #1E90FF,
        0 0 100px #1E90FF;
}